.muscle-item {
  border-radius: 12px;
  transition: opacity var(--base-transition);

  &.active .muscle-item__title {
    background-color: var(--table-dark-bg);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    border-bottom-color: var(--color-border);
  }

  &.active .muscle-item__title-icon {
    transform: rotate(180deg);
  }
}

.muscles-list__list:not(.active) .muscle-item {
  opacity: 1;
}

.muscles-list__list:has(.active) .muscle-item:not(.active) {
  opacity: 0.3;
}

.muscle-item__title {
  display: flex;
  align-items: center;
  padding-inline: 12px 24px;
  gap: 12px;
  width: 100%;
  border: 0;
  border-radius: 12px;
  height: 44px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  transition: box-shadow var(--base-transition), background-color var(--base-transition);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    }
  }
}

.muscle-name {
  font-weight: 500;

  &:first-letter {
    text-transform: uppercase;
  }
}

.exercises-count {
  display: block;
  margin-left: auto;
  opacity: 0.5;
}

.muscle-item__title-icon {
  transition: transform var(--base-transition);
}

.exercise-item {
  height: 36px;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 12px;
  transition: all var(--base-transition);
  position: relative;
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  align-items: center;
  gap: 12px;

  & svg {
    color: var(--color-text);
  }

  p {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: auto;

    & svg {
      color: green;
    }
  }

  &.added {
    background-color: #efffeb;
    border-color: #d6f5d6;
  }
}

@media (hover: hover) and (pointer: fine) {
  .exercise-item:hover {
    transform: translateY(-3px);
    background: var(--table-dark-bg);
  }
}

.exercises-list {
  padding-top: 8px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.exercise-details__wrapper {
  display: flex;
  gap: 16px;
}

.exercise-details__body {
  display: flex;
  min-width: 0;
  flex: 1;
  background: #efefef;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.exercise-details__description {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & button {
    min-width: 100%;
  }
}

.body-modal .modal {
  max-width: 900px;
}

.tabs-container {
  display: flex;
  gap: 4px;
  position: sticky;
  top: 32px;
  width: 100%;
  background-color: var(--color-white);
  z-index: 1;
}

.exercise-details__list {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--color-border);
  flex: 1;

  & > div {
    display: flex;
    padding: 6px 12px;

    &:nth-child(odd) {
      background-color: oklch( from var(--table-dark-bg) l c h / 1);
    }
  }

  dt {
    flex: 2;
  }

  dd {
    flex: 4;
    font-weight: 500;
  }
}

.exercise-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.exercise-details__title {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  & svg {
    min-width: 35px;
  }
}

.exercise-details__link {
  color: var(--color-text);
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--color-border);
  position: relative;
  overflow: hidden;

  & svg {
    min-width: 20px;
    margin-top: 3px;
  }

  &:hover .exercise-details__link-layer {
    opacity: 1;
  }
}

.exercise-details__link-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  opacity: 0;
  background-color: oklch( from var(--color-white) l c h / 0.8);
  transition: opacity var(--base-transition);
}