.muscle-item {
  border-radius: 12px;

  &.active .muscle-item__title {
    background-color: var(--table-dark-bg);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    border-bottom-color: rgb(var(--border-color));
  }

  &.active .muscle-item__title-icon {
    transform: rotate(180deg);
  }
}

.muscle-item__title {
  display: flex;
  align-items: center;
  padding-inline: 12px 24px;
  gap: 12px;
  width: 100%;
  border: 0;
  border-radius: 12px;
  height: 44px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  transition: box-shadow 0.3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    }
  }
}

.muscle-name {
  font-weight: 500;

  &:first-letter {
    text-transform: uppercase;
  }
}

.exercises-count {
  display: block;
  margin-left: auto;
  opacity: 0.5;
}

.muscle-item__title-icon {
  transition: transform 0.3s;
}

.exercise-item {
  height: 36px;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 12px;
  transition: all var(--base-transition);
  position: relative;
  color: rgb(var(--text-color));
  display: flex;
  justify-content: space-between;
  align-items: center;

  & svg {

  }

  &:hover {

  }

  p {
    display: flex;
    align-items: center;
    gap: 12px;

    & svg {
      color: green;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .exercise-item:hover {
    transform: translateY(-3px);
    background: var(--table-dark-bg);
  }
}

.exercises-list {
  padding-top: 8px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
