.checkbox-parent {
  display: inline-flex;
}

.checkbox-component {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  opacity: 0;
}

.checkbox-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-content:hover .checkbox-effect:not(.active) {
  background-color: rgb(var(--form-bg));
}

.checkbox {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  position: relative;
  z-index: 10;
}

.checkbox-effect {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: all var(--base-transition);
  border: 1px solid rgb(var(--border-color));
  color: rgba(230, 233, 234, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-effect.active {
  border-color: rgb(var(--accent-color));
}

.checkbox-label {
  padding: 0 6px;
  cursor: pointer;
  user-select: none;
}

.checkbox-icon {
  display: block;
  position: relative;
  width: 6px;
  height: 9px;
  margin-top: -3px;
  transform: rotate(45deg);
}

.line1 {
  content: '';
  position: absolute;
  height: 1px;
  transition: all var(--base-transition);
  z-index: 100;
  width: 0;
  bottom: 0;
  background-color: transparent;
}

.line2 {
  bottom: 0;
  right: 0;
  z-index: 100;
  content: '';
  position: absolute;
  height: 0;
  border-radius: 4px;
  transition: all var(--base-transition);
  width: 1px;
  background-color: transparent;
}

.checkbox-effect.active .line1,
.checkbox-effect.active .line2 {
  background-color: rgb(var(--accent-color));
}

.checkbox-effect.active .line1 {
  width: 100%;
}

.checkbox-effect.active .line2 {
  height: 100%;
}