.global-statistics {
  border-radius: 20px;
  padding: 16px;
  background-color: var(--color-white);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
}

.global-statistics__title {
  font-size: 16px;
  margin-bottom: 16px;
}

.global-statistics__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.statistic-item {
  text-align: center;
  padding: 12px;
  border-radius: 12px;
  background-color: oklch(from var(--color-accent) l c h / 0.1);
}

.statistic-item__value {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.statistic-item__label {
  font-size: 14px;
  color: oklch(from var(--color-text) l c h / 0.7);
}