.global-statistics {
  border-radius: 20px;
  padding: 16px;
  background-color: var(--color-white);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
}

.global-statistics__title {
  font-size: 16px;
  margin-bottom: 16px;
}

.global-statistics__grid {

}

.statistic-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: oklch(from var(--color-accent) l c h / 0.05);
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 4px;
}

.statistic-item__value {
  color: var(--color-accent);
}

.statistic-item__label {

}