.global-statistics {
  border-radius: 20px;
  padding: 16px;
  background-color: var(--color-white);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);

  @media (width <= 1023px) {
    height: 100%;
  }

  @media (width <= 768px) {
    padding: 8px;
  }
}

.global-statistics__title {
  font-size: 16px;
  margin-bottom: 16px;

  @media (width <= 768px) {
    margin-bottom: 0;
  }
}

.statistic-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid oklch(from var(--color-accent) l c h / 0.1);
  padding: 12px 0;
  margin-bottom: 4px;
}

.statistic-item__label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.statistic-item__value {
  font-weight: 500;
  font-size: 14px;
}

.statistic-item__label-icon {
  position: relative;
  display: flex;
  align-items: center;

  span {
    position: absolute;
    top: 15px;
    left: calc(50%);
    transform: translateX(-50%);
    display: block;
    background-color: var(--color-accent);
    color: #fff;
    font-size: 8px;
    padding: 0 2px;
    border-radius: 2px;
  }
}