.dropdown {
  position: relative;
  width: 100%;
  user-select: none;
}

.dropdown__selected-value {
  position: relative;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  background: white;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-border);
  transition: border-radius var(--base-transition);

  &.opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: oklch(from var(--color-accent) l c h / 0.5);
  }

  &[class*="dropdown__selected-value--"]{
    justify-content: flex-end;
  }

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  &.dropdown__selected-value--1::before {
    background: var(--difficulty-1);
  }
  &.dropdown__selected-value--2::before {
    background: var(--difficulty-2);
  }
  &.dropdown__selected-value--3::before {
    background: var(--difficulty-3);
  }
  &.dropdown__selected-value--4::before {
    background: var(--difficulty-4);
  }
  &.dropdown__selected-value--5::before {
    background: var(--difficulty-5);
  }
}

.dropdown__values-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.5);
  border-top: 0;
  border-radius: 0 0 12px 12px;
  z-index: 10;
  overflow: hidden;
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
}

.dropdown__list-item {
  padding: 4px 12px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
