form {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.create-card__input {
  flex: 1 1 auto;
  max-width: calc(50% - 4px);
  min-height: 34px;
  max-height: 150px;
  overflow-y: auto;
  padding: 8px 10px;
  border: 1px solid transparent;
  outline: 1px solid rgb(var(--border-color));
  background: rgb(var(--form-bg));
  box-shadow: var(--form-box-shadow);
  color: rgb(var(--text-color));
  border-radius: 6px;
  transition: all 0.25s ease;
  font-size: 16px;

  overflow-wrap: break-word;
  user-select: text;
  user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.create-card__input:focus {
  outline: 1px solid rgb(var(--accent-color));
}

.create-card__input.input--error {
  border-color: rgb(var(--error-color));
  outline: 3px solid rgb(var(--error-color) / 30%);
}

.create-card__input[contenteditable]:empty::before {
  content: attr(aria-label);
  color: rgb(var(--text-color) / 50%);
}