.programs-list {
  display: flex;
  gap: 16px;

  @media (width <= 1024px) {
    gap: 8px;
  }

  @media (width <= 768px) {
    flex-direction: column;
  }
}

.programs-list__item {
  flex: 1;
  min-width: 0;
}

.programs-list__item-title {
  font-size: 18px;
}

.programs-list__item-img {
  width: 100%;
}

.programs-list__thesis {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.programs-list__thesis-item {
  font-size: 14px;
  list-style-type: circle;
}


/* svg */
/* Анимация пути */
.programs-list__item-svg-wrap {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
}

.programs-list__item-svg {
  width: 100%;
}

@keyframes move {
  0% { offset-distance: 0; }
  100% { offset-distance: 100%; }
}

.skill-dot {
  offset-path: path("M0.5 119.5C171.5 119.5 177.5 -39.5 249 32");
  offset-distance: 0;
  animation: move 5s linear infinite;
  offset-rotate: 0deg;
  transform-box: fill-box;
  transform-origin: center;
}

.intensity-dot {
  offset-path: path("M0.75 108.983C164 111 166.5 -61.5 246 51.5");
  offset-distance: 0;
  animation: move 5s linear infinite;
  offset-rotate: 0deg;
  transform-box: fill-box;
  transform-origin: center;
}

.volume-dot {
  offset-path: path("M1 7.99998C1 7.99998 51.5 11.5 95 35.5C138.5 59.5 191.5 123 265.5 127.5");
  offset-distance: 0;
  animation: move 5s linear infinite;
  offset-rotate: 0deg;
  transform-box: fill-box;
  transform-origin: center;
}