textarea {
  border: 1px solid transparent;
  outline: 1px solid rgb(var(--border-color));
  background: rgb(var(--form-bg));
  box-shadow: var(--form-box-shadow);
  color: rgb(var(--text-color));
  border-radius: 6px;
  transition: padding 0.25s ease;
  padding: 8px 13px 0 10px;
  width: -webkit-fill-available;
  appearance: none;
  -webkit-appearance: none;
  resize: none;
  height: 36px;

  &:focus-visible {
    outline: 1px solid rgb(var(--accent-color));
  }
}

