.dashboard__charts {
  grid-area: charts;
}

.dashboard-charts {
  display: flex;
  flex-direction: column;
}

.chart-container {
  border-radius: 20px;
  background: white;
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  overflow: hidden;
  view-transition-name: none;
}

.chart-container.available {
  --chart-transition-name: 0;
  view-transition-name: var(--chart-transition-name);
}

.charts-collection__tab {
  --chart-transition-name: 0;
  view-transition-name: var(--chart-transition-name);
}

.chart-container__header {
  display: flex;
  padding: 12px 16px 0;
  align-items: center;
  justify-content: space-between;
}

.chart-container__title {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
}

.add-chart__icon {
  transform: rotate(-90deg);
}

.chart {
  height: 300px;
  width: 100%;
}

.exercise-chart-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px;
  padding-top: 12px;
}

.exercise-list {
  display: flex;
  gap: 8px;

  overflow: auto;
  width: 100%;
  flex-wrap: nowrap;
  touch-action: pan-x;
  padding-right: 12px;
  scrollbar-width: none;

  & .button {
    min-width: fit-content;
    font-size: 12px;
    height: 30px;
    min-height: 30px;
    padding: 0 8px;
    border-radius: 8px;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}

.dashboard-charts__list,
.available-charts {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (width <= 1023px) {
    gap: 8px;
  }
}

.dashboard-charts__list {
  height: 100%;
}