.dashboard__charts {
  flex: 1;
}

.dashboard-charts {
  display: flex;
  flex-direction: column;
}

.chart-container {
  border-radius: 20px;
  background: white;
}

.chart-container__title {
  padding: 16px 16px 0;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}

.chart {
  height: 300px;
  width: 100%;
}

.exercise-chart-container {
  display: flex;
  padding-left: 16px;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 150px;
  max-width: 150px;

  & .button {
    min-width: 100%;
  }
}

.exercise-button {
  padding: 0.5rem;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.exercise-button.active {
  color: blueviolet;
}

.dashboard-charts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}