li {
  padding: 16px;
  border: 1px solid rgb(var(--border-color));
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  gap: 8px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 1px rgb(var(--accent-color) / 10%);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 3px 5px rgb(var(--accent-color) / 20%);
  }

  &:hover .card-actions__edit {
    display: flex;
  }
}

.card-actions__edit {
  position: absolute;
  top: 8px;
  right: 8px;

  background-color: white;
  display: none;
}

.card-actions__save {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}

.input-content {
  width: 100%;
}

.card__description {
  flex-grow: 1;
}

.card__footer {
  width: 100%;
}