.aside-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 32px);
  padding: 8px;
  background-color: var(--color-white);
  left: 4px;
  top: 16px;
  z-index: 10;
  border-radius: 20px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
}

.aside-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.aside-nav__charts-button {
  background-color: oklch(from var(--color-success) l c h / 0.1);
  color: var(--color-success);

  &.disabled {
    background-color: oklch(from var(--color-error) l c h / 0.1);
    color: var(--color-error);
    position: relative;
    overflow: hidden;
    outline: 1px solid oklch(from var(--color-error) l c h / 0.3);

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: -10px;
      width: 200%;
      height: 1px;
      background-color: oklch(from var(--color-error) l c h / 0.3);
      transform: rotate(-45deg);
      z-index: -1;
    }
  }
}