.aside-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 32px);
  padding: 8px;
  background-color: var(--color-white);
  left: 4px;
  top: 16px;
  z-index: 10;
  border-radius: 20px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;

  @media (width <= 1023px) {
    top: 8px;
    height: calc(100vh - 16px);
  }

  @media (width <= 768px) {
    height: auto;
    width: 100%;
    flex-direction: row;
    top: auto;
    bottom: 4px;
    width: calc(100% - 16px);
    left: 8px;
    view-transition-name: aside-nav;
  }
}

::view-transition-group(aside-nav) {
  z-index: 1;
}

.aside-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1;

  @media (width <= 768px) {
    flex-direction: row;
  }
}

.aside-nav__charts-button {
  &.inactive {
    background-color: oklch(from var(--color-error) l c h / 0.1);
    color: var(--color-error);
    position: relative;
    overflow: hidden;
    outline: 1px solid oklch(from var(--color-error) l c h / 0.3);

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: -10px;
      width: 200%;
      height: 1px;
      background-color: oklch(from var(--color-error) l c h / 0.3);
      transform: rotate(-45deg);
      z-index: -1;
    }
  }
}

.aside-nav__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;

  @media (width <= 768px) {
    flex-direction: row;
    width: auto;
  }

  & select {
    width: 36px;
  }
}

.aside-nav__bottom-item {
  width: 100%;
}

.toggle-charts {
  margin-bottom: 8px;
}

.logout-button {
  background-color: oklch(from var(--color-error) l c h / 0.2);
  color: var(--color-error);
  min-width: 100%;

  & .button__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

select {
  background: none;
  padding: 0;
  width: 100%;
  height: 36px;
  border-radius: 12px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  cursor: pointer;

  &, &::picker(select) {
    appearance: base-select;
    transition: opacity 0.1s ease-in-out;
    max-width: 100%;
  }

  &::picker(select) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  }

  &::picker-icon {
    display: none;
  }

  &:not(:open)::picker(select) {
    opacity: 0;
    transform: scale(.95);
  }

  &:open::picker(select) {
    opacity: 1;
    transform: scale(1);
  }

  &:open {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
  }
}

selectedcontent, option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

option {
  width: 34px;
  transition: background-color 0.1s ease-in-out;

  &::checkmark {
    display: none;
  }

  &:checked {
    background-color: var(--color-accent);
  }

  &:hover {
    background-color: oklch(from var(--color-accent) l c h / 0.1);
  }
}

.logout-modal__footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;

  & .button {
    flex: 1;
    max-width: 100%;
  }
}

.logout-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-block: 12px;

  & svg {
    color: var(--color-error);
  }
}