dialog {
  padding: 0;
  border: none;
  background: none;
  max-height: 100vh;
  max-width: 100vw;
  
  &::backdrop {
    background: transparent;
    backdrop-filter: blur(4px);
  }

  &[open] {
    opacity: 1;
    transform: translateY(0);
  }

  &:not([open]) {
    opacity: 0;
    display: none;
  }

  &.bottom-modal {
    margin: 0;
    align-self: flex-end;
  }
}

.modal {
  max-height: 86dvh;
  background: var(--color-white);
  border-radius: 20px;
  padding: 12px;
  max-width: 90%;
  min-width: 300px;
  position: relative;
  overflow: auto;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.5);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;

  .bottom-modal & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.modal-header {
  position: relative;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  z-index: 1;
}

.modal-content {
  height: 100%;
}

@media (max-width: 768px) {
  dialog {
    margin: 0;
    width: 100%;
  }
}
