.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

li {
  &:last-child {
    margin-top: auto;
  }
}

.dialog-footer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

a {
  color: rgb(var(--text-color));

  &:hover {
    text-decoration: underline;
  }
}

.avatar {
  border-radius: 50%;
  border: 1px solid rgb(var(--accent-color));
}

.header__profile {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 4px;

  & li {
    padding-inline: 16px;
  }
}

.header__profile-lang {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}