nav {
  width: 70px;
  padding-block: 12px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

li {
  &:last-child {
    margin-top: auto;
  }
}

.dialog-footer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.router-link-active .iconify {
  color: rgb(var(--theme-color) / 100%);
}