.program__settings-exercises {
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
  background-color: var(--color-white);
  padding: 16px;
  border-radius: 20px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
}