.dialog-footer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.header__wrap {
  display: flex;
  align-items: center;
  padding-block: 8px;
}

.avatar {
  border-radius: 50%;
}

.header__details {
  margin-left: auto;
}

.user-avatar__placeholder {
  width: 35px;
  height: 35px;
  background-color: rgb(var(--accent-color));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 50%;
}