.dialog-footer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.header__wrap {
  display: flex;
  align-items: center;
  padding-block: 8px;
}

.avatar {
  border-radius: 50%;
}

.header__details {
  margin-left: auto;
}

/*.header {*/
/*  background-color: var(--main-bg);*/
/*  box-shadow: rgb(var(--accent-color) / 0.1) -4px 9px 25px -6px;*/
/*}*/