.dialog-footer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.header__wrap {
  display: flex;
  align-items: center;
  padding-block: 8px;
}

.avatar {
  border-radius: 50%;
}

.header__functions {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
}

.user-avatar__placeholder {
  width: 36px;
  height: 36px;
  background-color: rgb(var(--accent-color));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 50%;
}

.header__timer {
  border: 1px solid rgb(11 176 11 / 0.4);
  background-color: rgb(11 176 11 / 0.1);
  color: rgb(11 176 11);
  border-radius: 12px;
  min-width: 100px;
  padding-left: 12px;
  font-weight: 500;
  display: flex;
  height: 36px;
  align-items: center;
  gap: 6px;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    animation: dot-blink 1s linear infinite;
  }
}

@keyframes dot-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}