details {
  position: relative;
  cursor: pointer;
}

details > summary {
  display: flex;
}

details > summary::marker {
  display: none;
  content: '';
}

.details-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid rgb(var(--border-color));
  border-radius: 8px;
}