.main-navigation {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  gap: 12px;

  position: absolute;
  top: 4px;
  right: 16px;

  @media (width <= 768px) {
    padding-top: 4px;
    right: 8px;
  }
}
