.input {
  height: 30px;
  max-height: 32px;
  border: 1px solid rgba(var(--accent-color) / 30%);
  border-radius: 6px;
  padding: 0 12px;
  width: -webkit-fill-available;

  &:focus-visible {
    outline: 2px solid rgb(var(--theme-color) / 50%);
  }

  &:focus {
    outline: 2px solid rgb(var(--theme-color) / 50%);
  }
}

.input-content {
  max-width: 100%;
}