.input-wrapper {
  position: relative;
}

.input {
  border: 1px solid transparent;
  outline: 1px solid rgb(var(--border-color));
  background: rgb(var(--form-bg));
  box-shadow: var(--form-box-shadow);
  color: rgb(var(--text-color));
  border-radius: 6px;
  transition: padding 0.25s ease;
  padding: 0 13px 0 10px;
  height: 32px;
  width: -webkit-fill-available;
  appearance: none;
  -webkit-appearance: none;

  &:focus-visible {
    outline: 1px solid rgb(var(--accent-color));
  }
}

.input-content {
  max-width: 100%;
}

.input--error {
  border-color: rgb(var(--error-color));

  &:focus-visible {
    outline: 3px solid rgb(var(--error-color) / 30%);
  }

  &:focus {
    outline: 3px solid rgb(var(--error-color) / 30%);
  }
}

.input__error-message {
  position: absolute;
  top: -6px;
  right: 5px;
  font-size: 12px;
  line-height: 12px;
  color: rgb(var(--error-color));
  background-color: #fff;
  font-weight: 500;
  padding: 0 2px;
}