nav {
  margin-bottom: 20px;
}

ul {
  display: flex;
  gap: 8px;
}

li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid rgb(var(--border-color));
  transition: border-color var(--base-transition);
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    transition:
      opacity var(--base-transition),
      transform var(--base-transition),
      background-color var(--base-transition);
    z-index: -1;
    transform: scale(0.5);
    opacity: 0;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: none;
      transform: none;
      border-color: rgb(var(--accent-color));
    }

    &:hover::before {
      opacity: 1;
      transform: scale(1);
      background-color: rgb(var(--accent-color) / 0.1);
    }
  }
}

span {
  font-size: 16px;
  font-weight: 600;
}