:root {
  color-scheme: light;
  --accent-color: 26 92 255;

  --text-color: 44 62 80;
  --main-bg: #fff;
  --header-bg: #fff;
  --block-bg: rgba(244, 247, 248, 1);
  --content-bg: #fff;
  --cobtent-inner-bg: #fff;
  --form-bg: rgba(244, 247, 248, 1);
  --form-box-shadow: 0 0 0 0 rgb(var(--accent-color) / 50%);

  --border-color: 235 236 240;

  --btn-color: #fff;
  --btn-bg: 26 92 255;
  --btn-color-transparent: rgb(var(--accent-color));

  --base-transition: 0.25s ease;

  --content-border-color: var(--accent-color);

  --dropdown-bg: 255 255 255;
  --modal-bg: #fff;
  --even-row-bg: rgba(249, 252, 253, 1);
  --table-dark-bg: rgba(244, 247, 248, 1);

  --error-color: 223 31 61;

  --badge-color-high: 223 31 61;
  --badge-color-low: 255 126 8;

  font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  /*min-height: calc(100vh - 53px);*/
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: rgb(var(--text-color));
  background-color: var(--main-bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}
