*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  scrollbar-gutter: stable;
}

body {
  line-height: 1.6;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 15px;
  color: var(--color-text);
  background-color: oklch(from var(--color-accent) l c h / 0.1);
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input:not([type='radio']),
textarea,
select,
p {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  font: inherit;
  color: var(--color-text);
}

body:has(.modal) {
  overflow: hidden;
}

body:has(.home-page__container).charts-disabled {
  overflow: hidden;

  @media (width <= 768px) {
    & main {
      height: calc(100dvh - 80px);
    }

    & .home-page__container {
      width: 100%;
    }
  }
}

/*::view-transition-group(*) {*/
/*  animation-duration: 0.4s;*/
/*  animation-timing-function: ease-out;*/
/*}*/
