:root {
  color-scheme: light;
  --accent-color: 26 92 255;

  --text-color: 44 62 80;
  --main-bg: #fff;

  --form-bg: rgba(244, 247, 248, 1);
  --form-box-shadow: 0 0 0 0 rgb(var(--accent-color) / 50%);

  --border-color: 235 236 240;

  --btn-color: #fff;
  --btn-bg: 26 92 255;
  --btn-color-transparent: rgb(var(--accent-color));

  --base-transition: 0.25s ease;

  --content-border-color: var(--accent-color);

  --dropdown-bg: 255 255 255;
  --modal-bg: #fff;
  --table-dark-bg: rgba(244, 247, 248, 1);

  --error-color: 223 31 61;
  --error-bg: 251 214 217;

  --difficulty-1: #ececec;
  --difficulty-2: #00c420;
  --difficulty-3: #ffcb29;
  --difficulty-4: #ff9494;
  --difficulty-5: #e12525;

  font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1.6;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 15px;
  color: rgb(var(--text-color));
  background-image: linear-gradient(-45deg, rgb(var(--accent-color) / 0.1), transparent);
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
textarea,
select,
p {
  -webkit-appearance: none;
  font: inherit;
  color: rgb(var(--text-color));
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}