.home-page__container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-bottom: 20px;

  &:has(.global-statistics) {
    grid-template-columns: 1fr 1fr;
    margin-top: 0;

    @media (width <= 1023px) {
      gap: 8px;
      grid-template-columns: 1fr;
    }
  }

  &:not(:has(.global-statistics)) {
    place-items: center;
  }
}

.home-page__calendar {
  max-width: 576px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  view-transition-name: calendar-block;

  @media (width <= 1023px) {
    max-width: 100%;
    flex-direction: row;
    gap: 8px;

    & .global-statistics {
      height: 100%;
    }
  }

  @media (width <= 768px) {
    flex-direction: column;
  }
}