.home-page__container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-bottom: 20px;

  &:has(.global-statistics) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: "calendar charts" "statistics charts";
    margin-top: 0;

    @media (width <= 1023px) {
      grid-template-areas: "calendar statistics" "charts charts";
      gap: 8px;
    }

    @media (width <= 768px) {
      grid-template-columns: 100%;
      grid-template-areas: "calendar" "statistics" "charts";
    }
  }

  &:not(:has(.global-statistics)) {
    place-items: center;
  }
}

.home-page__calendar {
  max-width: 576px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-area: calendar;
  view-transition-name: calendar-block;

  @media (width <= 1023px) {
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 8px;

    & .global-statistics {
      height: 100%;
    }
  }

  @media (width <= 768px) {
    flex-direction: column;
  }
}

.home-page__container:not(:has(.available-charts)) {
  grid-template-areas: "calendar charts" "statistics statistics";

  @media (width <= 1023px) {
    grid-template-areas: "calendar statistics" "charts charts";
  }

  @media (width <= 768px) {
    grid-template-areas: "calendar" "statistics" "charts";
  }
}