.program__settings {
  display: flex;
}

.program__settings-form {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (width <= 1024px) {
    gap: 8px;
  }
}

.program__settings-chart {
  flex: 2;
}