.run {
  display: flex;
  aalign-items: flex-start;
  gap: 24px;
}

.run__current,
.run__initial {
  flex: 1;
}

.run__set-item {
  display: flex;
  gap: 12px;
}

.run__sets-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s;

  &.active {
    grid-template-rows: 1fr;
  }
}

.run__sets {
  min-height: 0;
}

.run__initial {
  height: 450px;
}

.run__exercise {
  height: 44px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 12px 24px;
  border-radius: 12px;
  transition: box-shadow 0.3s, background-color 0.3s;

  &:hover {
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  }

  &.active {
    background-color: var(--table-dark-bg);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    border-bottom-color: rgb(var(--border-color));
  }
}

.run__exercises-list,
.run__initial {
  padding: 12px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid rgb(var(--border-color));
  box-shadow: rgb(var(--accent-color) / 0.1) -4px 9px 25px -6px;
}