.run {
  display: flex;
  aalign-items: flex-start;
  gap: 24px;
}

.run__current,
.run__initial {
  flex: 1;
}

.run__set-item {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  height: 48px;
  padding: 6px;
  border-radius: 12px;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--table-dark-bg);
  }

  /*&::after {*/
  /*  content: '';*/
  /*  position: absolute;*/
  /*  height: 1px;*/
  /*  width: 100%;*/
  /*  left: 0;*/
  /*  bottom: 0;*/
  /*  background: linear-gradient(to right, rgb(var(--text-color) / 0.1) , transparent, rgb(var(--text-color) / 0.1));*/
  /*}*/
}

.run__set-difficulty {
  flex: 1;
}

.run__set-weight,
.run__set-repeats {
  flex: 1;
  display: flex;
  align-items: center;
  outline: 1px solid var(--table-dark-bg);
  height: 100%;
  border-radius: 12px;
}

.run__set-time {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

.run__set-weight--value,
.run__set-repeats--value{
  padding-left: 11px;
}

.run__sets-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s, padding 0.3s;

  &.active {
    padding: 12px;
    grid-template-rows: 1fr;
  }
}

.run__sets {
  min-height: 0;
}

.run__initial {
  height: 450px;
}

.run__exercise {
  height: 44px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 12px 24px;
  border-radius: 12px;
  transition: box-shadow 0.3s, background-color 0.3s;

  &:hover {
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  }

  &.active {
    background-color: var(--table-dark-bg);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    border-bottom-color: rgb(var(--border-color));
  }
}

.run__exercises-list,
.run__initial {
  padding: 12px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid rgb(var(--border-color));
  box-shadow: rgb(var(--accent-color) / 0.1) -4px 9px 25px -6px;
}


.run__sets-header {
  display: flex;
  width: 100%;

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    flex: 1;
  }
}