.v-tooltip {
  position: fixed;
  z-index: 9999;
  background: var(--color-text);
  color: var(--color-white);
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 12px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity var(--base-transition), transform var(--base-transition);
}

.v-tooltip.active {
  opacity: 1;
  transform: translateY(0);
}

.v-tooltip::after {
  content: '';
  position: absolute;
  border-width: 4px;
  border-style: solid;
}

/* Стрелки для разных позиций */
.v-tooltip[data-position="top"]::after {
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-color: var(--color-text) transparent transparent transparent;
}

.v-tooltip[data-position="bottom"]::after {
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent var(--color-text) transparent;
}

.v-tooltip[data-position="left"]::after {
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--color-text);
}

.v-tooltip[data-position="right"]::after {
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-color: transparent var(--color-text) transparent transparent;
}