.workout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: flex-start;
}

.workout-data {
  border: 1px solid rgb(var(--border-color));
  padding: 12px;
  border-radius: 16px;
}

.muscles-list {
  border: 1px solid rgb(var(--border-color));
  padding: 12px;
  border-radius: 16px;
}

.workout__name {
  display: flex;
  align-items: center;
  gap: 16px;

  & .input-wrapper {
    flex: 1;
  }
}

.workout__exercises-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 2px 8px;
  cursor: pointer;
}

.workout__exercises-item-name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.exercise-form {
  width: 100%;
}

.exercise-form__main {
  display: flex;
  width: 100%;
  gap: 16px;

  & .input-wrapper {
    flex: 1;
  }
}

.exercise-form__wr {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease;

  .workout__exercises-item.active & {
    grid-template-rows: 1fr;
  }
}

.exercise-form {
  min-height: 0;
}