.workout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: flex-start;

  & .calendar {
    margin-top: 12px;
  }

  @media (width <= 768px) {
    grid-template-columns: 1fr;
  }
}

.workout-data {
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  padding: 12px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (width <= 1023px) {
    padding: 8px;
  }
}

.muscles-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  padding: 12px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;

  @media (width <= 1023px) {
    padding: 8px;
  }

  @media (width <= 768px) {
    position: fixed;
    bottom: 64px;
    width: calc(100% - 16px);
    max-height: calc(100vh - 72px);
    left: 8px;
    z-index: 10;
  }
}

.close-exercises-list {
  background-color: transparent;
  border: 0;
  padding: 0;
  height: 25px;
}

.button.show-exercises-list {
  svg {
    transform: rotate(180deg);
  }

  @media (width <= 768px) {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 48px;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.workout__name {
  display: flex;
  align-items: center;
  gap: 16px;

  & .input-wrapper {
    flex: 1;
  }
}

.workout-form__sets--difficulty {
  width: 60px;
  padding: 2px 8px;
  border-radius: 4px;
  text-align: center;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

/* Стили для разных уровней сложности */
.workout-form__sets--difficulty[data-difficulty="1"] {
  &::before {
    background-color: var(--difficulty-1);
  }
}

.workout-form__sets--difficulty[data-difficulty="2"] {
  &::before {
    background-color: var(--difficulty-2);
  }
}

.workout-form__sets--difficulty[data-difficulty="3"] {
  &::before {
    background-color: var(--difficulty-3);
  }
}

.workout-form__sets--difficulty[data-difficulty="4"] {
  &::before {
    background-color: var(--difficulty-4);
  }
}

.workout-form__sets--difficulty[data-difficulty="5"] {
  &::before {
    background-color: var(--difficulty-5);
  }
}

.workout__exercises-item {
  outline: 1px solid transparent;
  border-radius: 12px;
  transition: outline-color var(--base-transition);

  &.active,
  &:has(.previous-results) {
    outline-color: oklch(from var(--color-accent) l c h / 0.5);
  }

  &.active .workout__exercises__title-icon {
    transform: rotate(180deg);
  }

  &.active .workout__exercises-item-name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--table-dark-bg);
  }

  &:has(.previous-results) {
    outline-color: oklch(from var(--color-accent) l c h / 0.5);
  }
}

.workout__exercises-item-name {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  font-weight: 500;
  padding: 0 0 0 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color var(--base-transition);

  span {
    flex-grow: 1;
  }

  & .button {
    margin-left: auto;
    width: auto;
  }

  &:hover {
    background-color: var(--table-dark-bg);
  }
}

.workout__exercises__title-icon {
  transition: transform var(--base-transition);
}

.exercise-form {
  width: 100%;
}

.exercise-form__main {
  display: flex;
  width: 100%;
  gap: 12px;

  & .input-wrapper {
    flex: 1;
  }
}

.exercise-form__wr {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--base-transition), padding var(--base-transition);
  padding-inline: 12px;

  .workout__exercises-item.active & {
    grid-template-rows: 1fr;
    padding-block: 12px;
  }
}

.exercise-form {
  min-height: 0;
}

.exercises-empty {
  height: 36px;
  display: flex;
  gap: 8px;
  color: oklch(from var(--color-text) l c h / 0.7);
  align-items: center;
  justify-content: center;
}

.workout-form__sets {
  width: 100%;
  margin-top: 12px;
}

.workout-form__sets-item {
  width: 100%;
  display: flex;
  align-items: center;

  & .button {
    min-width: 36px;
  }
}

.workout-form__sets--difficulty {
  width: 60px;
}

.workout-form__sets--weight,
.workout-form__sets--repeats{
  flex: 1;
  padding-left: 12px;
}

.workout-form__sets-header {
  display: flex;
  align-items: center;
  background-color: var(--table-dark-bg);
  border-radius: 8px;
  padding-block: 6px;
  font-size: 12px;

  div:last-child {
    width: 36px;
  }
}

.workout-form__sets-header--weight,
.workout-form__sets-header--repeats {
  flex: 1;
  padding-left: 12px;
}

.workout__exercise-tonnage {
  font-size: 14px;
  color: oklch(from var(--color-text) l c h / 0.7);
}

.workout__exercises-item-functions {
  position: relative;
  display: flex;
}

.copy-mode__popup {
  width: 350px;
  position: absolute;
  top: 15px;
  left: calc(50% - 175px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background-color: var(--color-white);
  border: 1px solid oklch(from var(--color-accent) l c h / 0.5);
  padding: 12px 16px;
  border-radius: 20px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity var(--base-transition);
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
