.button {
  border: 0;
  border-radius: 12px;
  transition:
    box-shadow var(--base-transition),
    transform var(--base-transition);
  position: relative;
  user-select: none;
  font-size: 15px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  overflow: hidden;
  background: rgb(var(--btn-bg));
  max-width: fit-content;
  color: var(--btn-color);
  padding: 0 12px;
  height: 36px;
  min-height: 36px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    outline: 2px solid rgb(26 92 255);
  }

  &[disabled] {
    background-color: gray;
    pointer-events: none;
  }
}

.button__content {
  display: inline-flex;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    box-shadow: 0 10px 20px -10px rgb(var(--accent-color));
    transform: translateY(-3px);
  }

  .button--danger:hover {
    box-shadow: 0 10px 20px -10px rgb(var(--error-color));
  }
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.35;
}

.button--ghost {
  background: transparent;
  color: rgb(var(--accent-color));
  overflow: hidden;
  box-shadow: none;

  &::before {
    content: '';
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    transition:
      opacity var(--base-transition),
      transform var(--base-transition),
      background-color var(--base-transition);
    z-index: -1;
    transform: scale(0.5);
    opacity: 0;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: none;
      transform: none;
    }

    &:hover::before {
      opacity: 1;
      transform: scale(1);
      background-color: rgb(var(--accent-color) / 0.2);
    }
  }

  &.active {
    background-color: rgb(var(--accent-color) / 0.2);
  }
}

.button--transparent {
  background-color: transparent;
  color: rgb(var(--text-color));

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: none;
      transform: none;
      color: rgb(var(--accent-color));
    }
  }
}

.button--icon-only {
  min-width: 36px;
  max-width: 36px;
  padding: 0;
}

.button--secondary {
  background-color: rgb(var(--accent-color) / 0.2);
  color: rgb(var(--accent-color));
}

.button--danger {
  background-color: rgb(var(--error-color));
  color: #fff;
}