.date-menu__functions {
  display: flex;
}

.date-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 20px 12px 0 16px;
  position: relative;
}

.date-menu__event-name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.date-menu__start-workout .modal{
  max-width: 350px;
}

.date-menu__start-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.date-menu__start-workout {
  & p:first-child {
    margin-bottom: 12px;
  }
}

.start-workout__wr {
  position: absolute;
  left: calc(50% - 30px);
  bottom: -50px;
  transform: translateY(-20px);
  animation: showStartButton 0.7s ease-out forwards;

  & .first-ring {
    position: absolute;
    inset: 0;
    width: 60px;
    height: 60px;
    display: block;
    height: inherit;
    border-radius: 50%;
    aspect-ratio: 1;
    filter: blur(2px);
    background-color: rgb(11 176 11 / 0.4);
    animation: first 2.25s 0.25s linear infinite;
  }

  & .second-ring {
    position: absolute;
    inset: 0;
    width: 60px;
    height: 60px;
    display: block;
    height: inherit;
    border-radius: 50%;
    aspect-ratio: 1;
    filter: blur(1px);
    background-color: rgb(11 176 11 / 0.2);
    animation: second 2.25s 0.25s linear infinite;
  }
}

.start-workout__button {
  display: block;
  background-color: rgb(11 176 11);
  color: #fff;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 60px;
  z-index: 1;
}

@keyframes first {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  25% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes second {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  25% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  75% {
    transform: scale(1.4);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes showStartButton {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.date-menu__start-icon {
  color: rgb(var(--accent-color));
}