.workout-difference-charts {
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 20px;

  & .chart-container {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.workout-difference-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
}

.chart-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.chart-container {
  width: 100%;
  min-height: 250px;
  background-color: var(--color-white);
  border-radius: 8px;
  overflow: hidden;
}

.chart {
  width: 100%;
  height: 100%;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  color: var(--color-white);
}