.my_exercises__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 12px;
}

.my_exercises__list-item {
  display: flex;
  height: 36px;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: all var(--base-transition);
  justify-content: space-between;
  color: var(--color-text);

  &.selected {
    background-color: #efffeb;
    border-color: #d6f5d6;
  }

  &:hover {
    background-color: var(--table-dark-bg);
  }
}

.my_exercises__list-item-actions {
  display: flex;
}

.my_exercises__list-item--delete.button--transparent:hover {
  transition: color var(--base-transition);
  color: var(--color-error);
}

.remove-exercise-modal .modal {
  max-width: 350px;
}

.remove-exercise-modal__content-text {
  & span {
    color: var(--color-error);
    font-weight: 600;
  }
}

.remove-exercise-modal__footer {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}