.exercise-form__submit {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 12px;
}

.workout-exercises-wrapper {
  display: flex;
  flex-direction: column;
}

.workout-total {
  padding-inline: 8px;
  border-radius: 8px;
  display: flex;
  gap: 4px;
  font-size: 14px;
  align-items: center;
  background-color: var(--table-dark-bg);

  height: 0;
  transition: height var(--base-transition),
              opacity var(--base-transition),
              padding-block var(--base-transition),
              margin-bottom var(--base-transition);
  opacity: 0;
  padding-block: 0;

  &.visible {
    height: 36px;
    opacity: 1;
    padding-block: 12px;
    margin-bottom: 12px;
  }

  & span {
    font-weight: 500;
  }
}

.workout-actions {
  display: flex;
  justify-content: space-between;
}

.previous-results {
  border-radius: 8px;
  background-color: var(--color-white);
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  position: absolute;
  overflow: hidden;
  top: 36px;
  right: 12px;
  z-index: 2;
  width: 200px;
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
}

.previous-results__title {
  font-size: 14px;
  color: oklch(from var(--color-text) l c h / 0.7);
  padding: 8px 8px 4px;
  background-color: var(--table-dark-bg);
}

.previous-results__list {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.previous-results__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}
