.exercise-form__submit {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 12px;
}

.workout-total {
  height: 36px;
  padding-inline: 8px;
  margin-bottom: 12px;
  border-radius: 8px;
  display: flex;
  gap: 4px;
  font-size: 14px;
  align-items: center;
  background-color: var(--table-dark-bg);

  & span {
    font-weight: 500;
  }
}

.workout-actions {
  display: flex;
  justify-content: flex-end;
}