.workout-results__charts-wr{
  flex: 5;
  position: relative;

  @media (width <= 768px) {
    position: relative;
    width: 100%;
  }
}

.workout-results__charts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  top: 0;
}

.chart-controls {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  @media (width <= 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.chart-container {
  flex: 1;
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;

  .workout-results__charts & {
    min-height: 250px;
    padding-top: 8px;
  }
}

.chart {
  height: 100%;
}

.workout-progress {
  border-radius: 12px;
  border: 1px solid var(--color-border);
  overflow: hidden;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
}

.workout-progress__empty {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
}

.workout-progress__title {
  padding: 12px;
  font-size: 14px;
  margin-bottom: 0;
  background-color: oklch(from var(--color-accent) l c h / 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout-progress__date {
  font-size: 14px;
  font-weight: 400;
}

.workout-progress__metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;

  @media (width <= 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.workout-progress__metric {
  &:not(:last-child) {
    border-right: 1px solid var(--color-border);
  }
}

.metric__label {
  font-size: 14px;
  font-weight: 500;
  padding-block: 4px;
  text-align: center;
  background-color: var(--table-dark-bg);
}

.metric__values {
  display: flex;
  flex-direction: column;
}

.metric__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 8px;

  &:first-child {
    border-bottom: 1px solid var(--color-border);
  }

  @media (width <= 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
  }
}

.metric__subtitle {
  font-size: 12px;
  padding-block: 4px;
  background-color: oklch(from var(--table-dark-bg) l c h / 0.5);
  padding-left: 24px;

  @media (width <= 768px) {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
}

.metric__current {
  font-size: 14px;
  font-weight: 500;
  padding-left: 24px;

  @media (width <= 768px) {
    padding-left: 0;
  }
}

.metric__change {
  font-size: 14px;
  font-weight: 500;
  padding-left: 24px;

  @media (width <= 768px) {
    padding-left: 0;
  }
}

.metric__change--positive {
  color: var(--difficulty-2);
}

.metric__change--negative {
  color: var(--difficulty-4);
}