.workout-results__charts {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chart-controls {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.chart-container {
  flex: 1;
  max-height: 310px;
  min-height: 310px;
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
}

.chart {
  height: 100%;
}

.workout-progress {
  border-radius: 12px;
  /*margin-top: -40px;*/
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.workout-progress__empty {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid oklch(from var(--color-accent) l c h / 0.2);
  box-shadow: oklch(from var(--color-accent) l c h / 0.1) -4px 9px 25px -6px;
}

.workout-progress__title {
  padding: 12px;
  font-size: 14px;
  background-color: oklch(from var(--color-accent) l c h / 0.1);
}

.workout-progress__date {
  font-size: 14px;
}

.workout-progress__metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding-bottom: 8px;
}

.workout-progress__metric {
  border-radius: 6px;
}

.metric__label {
  font-size: 14px;
  font-weight: 500;
  padding-block: 4px;
  margin-bottom: 8px;
  text-align: center;
  background-color: var(--table-dark-bg);
}

.metric__values {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 24px;
}

.metric__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.metric__subtitle {
  font-size: 12px;
}

.metric__current {
  font-size: 12px;
  font-weight: 500;
}

.metric__change {
  font-size: 14px;
  font-weight: 500;
}

.metric__change--positive {
  color: var(--difficulty-2);
}

.metric__change--negative {
  color: var(--difficulty-4);
}