.calendar-wrap {
  box-shadow: rgb(var(--accent-color) / 0.1) -4px 9px 25px -6px;
  background-color: var(--main-bg);
  padding: 20px;
  border-radius: 20px;
}

.calendar {
  max-width: 524px;
  border-radius: 12px;
  touch-action: pan-y pinch-zoom;
}

.calendar-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 6px;
  text-align: center;
  color: rgb(var(--text-color));
  background-color: transparent;
  outline: 1px solid transparent;
  font-family: 'Poppins', sans-serif;
  border: 0;
  font-size: 14px;
  height: 50px;
  border-radius: 8px;
  transition:
    transform var(--base-transition),
    box-shadow var(--base-transition),
    outline-color var(--base-transition);
}

.calendar-day:hover {
  box-shadow: 0 10px 20px -10px rgb(var(--accent-color) / 0.5);
  transform: translateY(-3px);
  cursor: pointer;
}

.calendar-day.selected {
  outline-color: rgb(var(--accent-color) / 0.3);
  box-shadow: 0 10px 20px -10px rgb(var(--accent-color) / 0.5);
  transform: translateY(-3px);
}

.calendar-day.today .calendar-day__text {
  border-bottom: 2px solid rgb(var(--text-color));
  display: inline-block;
  width: 15px;
  font-weight: 500;
}

.calendar-day.other-month {
  opacity: 0.5;
  color: rgb(var(--text-color) / 0.6);
}

.calendar-month {
  font-weight: 500;
}

/**/

.slideMonth-enter-active,
.slideMonth-leave-active {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.slideMonth-enter-from {
  opacity: 0;
  transform: translateX(20px);
}

.slideMonth-leave-to {
  opacity: 0;
  transform: translateX(-20px);
  overflow: hidden;
}

.slideMonthRight-enter-active,
.slideMonthRight-leave-active {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.slideMonthRight-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}

.slideMonthRight-leave-to {
  opacity: 0;
  transform: translateX(20px);
  overflow: hidden;
}

.workout-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.calendar.date-change-mode::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px dashed rgb(var(--accent-color));
  border-radius: 12px;
  pointer-events: none;
}

.calendar.date-change-mode .calendar-day:hover {
  background-color: rgb(var(--accent-color) / 0.1);
}

/* copy mode glow */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* running workout */
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.calendar-wrap:has(.copy-mode)::before,
.calendar-wrap:has(.copy-mode)::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    rgb(255, 0, 0),
    rgb(0, 0, 255),
    rgb(230, 0, 255)
  );
  border-radius: inherit;
  animation: rotation 3s linear infinite;
}

.calendar-wrap::after {
  filter: blur(20px);
}

@keyframes rotation {
  0% {
    opacity: 0;
    --gradient-angle: 0deg;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    --gradient-angle: 180deg;
    transform: sscale(2);
  }
  100% {
    opacity: 0;
    --gradient-angle: 360deg;
    transform: sscale(2);
  }
}

/* running workout */
.calendar-day.running-workout {
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #fff,
    #fff 5%,
    #fff 60%,
    #fff 95%
  );

  outline-color: transparent;
  border: solid 1px transparent;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center center;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}


.calendar-day.completed {
  background-color: rgb(11 176 11 / 0.1);
}