.calendar-wrap {

  @media (width <= 1023px) {
    flex-grow: 1;
    max-width: 548px;
  }

  @media (width <= 768px) {
    padding: 8px;
    max-width: 100%;

    &:has(.main-navigation--active-workout) {
      padding: 53px 8px 8px;
    }
  }
}

.global-statistics__wr {
  grid-area: statistics;
  grid-row: 2 / 4;

  @media (width <= 1023px) {
    grid-row: auto;
  }
}

.calendar {
  border-radius: 12px;
  touch-action: pan-y pinch-zoom;
}

.calendar-wrap:has(.date-menu) {
  padding-bottom: 12px;

  & .calendar {
    padding-bottom: 12px;
  }

  @media (width <= 768px) {
    padding-bottom: 8px;

    & .calendar {
      padding-bottom: 0;
    }
  }
}

.calendar-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 6px;
  text-align: center;
  color: var(--color-text);
  background-color: transparent;
  outline: 1px solid transparent;
  font-family: 'Poppins', sans-serif;
  border: 0;
  font-size: 14px;
  height: 50px;
  border-radius: 8px;
  transition:
    transform var(--base-transition),
    box-shadow var(--base-transition),
    outline-color var(--base-transition);
}

.calendar-day:hover {
  box-shadow: 0 10px 20px -10px oklch(from var(--color-accent) l c h / 0.5);
  transform: translateY(-3px);
  cursor: pointer;
}

.calendar-day.selected {
  outline-color: oklch(from var(--color-accent) l c h / 0.3);
  box-shadow: 0 10px 20px -10px oklch(from var(--color-accent) l c h / 0.5);
  transform: translateY(-3px);

  &.running-workout {
    outline: none;
  }
}

.calendar-day.today .calendar-day__text {
  border-bottom: 2px solid var(--color-text);
  display: inline-block;
  width: 15px;
  font-weight: 500;
}

.calendar-day.other-month {
  opacity: 0.5;
  color: oklch(from var(--color-text) l c h / 0.7);
}

.calendar-month {
  font-weight: 500;
}

.current-month {
  /*width: 36px;*/
}

/**/
.slideMonth-enter-active,
.slideMonth-leave-active {
  transition:
    opacity 0.3s ,
    transform 0.3s ;
}

.slideMonth-enter-from {
  opacity: 0;
  transform: translateX(20px);
}

.slideMonth-leave-to {
  opacity: 0;
  transform: translateX(-20px);
  overflow: hidden;
}

.slideMonthRight-enter-active,
.slideMonthRight-leave-active {
  transition:
    opacity 0.3s,
    transform 0.3s ;
}

.slideMonthRight-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}

.slideMonthRight-leave-to {
  opacity: 0;
  transform: translateX(20px);
  overflow: hidden;
}

.workout-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.calendar.date-change-mode::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px dashed var(--color-accent);
  border-radius: 12px;
  pointer-events: none;
}

.calendar.date-change-mode .calendar-day:hover {
  background-color: oklch(from var(--color-accent) l c h / 0.1);
}

body:has(.copy-mode) .chart-container,
body:has(.copy-mode) .global-statistics,
body:has(.copy-mode) .header,
body:has(.copy-mode) .main-navigation,
body:has(.copy-mode) .aside-nav,
body:has(.copy-mode) .dashboard-charts__list {
  filter: blur(10px);
  pointer-events: none;
}

/* copy mode glow */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* running workout */
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

/*.calendar-wrap:has(.copy-mode)::before,*/
/*.calendar-wrap:has(.copy-mode)::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  inset: 0;*/
/*  z-index: -1;*/
/*  background: conic-gradient(*/
/*    from var(--gradient-angle) in oklch,*/
/*    rgb(255, 0, 0),*/
/*    rgb(0, 0, 255),*/
/*    rgb(230, 0, 255)*/
/*  );*/
/*  border-radius: inherit;*/
/*  animation: rotation 3s linear infinite;*/
/*}*/

/*.calendar-wrap::after {*/
/*  filter: blur(20px);*/
/*}*/

/*@keyframes rotation {*/
/*  0% {*/
/*    opacity: 0;*/
/*    --gradient-angle: 0deg;*/
/*    transform: scale(1);*/
/*  }*/
/*  50% {*/
/*    opacity: 0.5;*/
/*    --gradient-angle: 180deg;*/
/*    transform: sscale(2);*/
/*  }*/
/*  100% {*/
/*    opacity: 0;*/
/*    --gradient-angle: 360deg;*/
/*    transform: sscale(2);*/
/*  }*/
/*}*/

/* running workout */
.calendar-day.running-workout {
  --border-angle: 0turn;
  --color-white: conic-gradient(
    from var(--border-angle),
    #fff,
    #fff 5%,
    #fff 60%,
    #fff 95%
  );

  outline-color: transparent;
  border: solid 1px transparent;
  --gradient-border: conic-gradient(from var(--border-angle) in oklch, transparent 25%, #08f, #f03 99%, transparent);
  --gradient-shadow: conic-gradient(from var(--border-angle) in oklch, transparent 25%, #08f, #f03 99%, transparent);
  animation: bg-spin 3s linear infinite;
}

.calendar-day.running-workout::before,
.calendar-day.running-workout::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  padding: 3px;
  background: var(--gradient-shadow);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  animation: bg-spin 3s linear infinite;
}

.calendar-day.running-workout::before {
  filter: blur(2px);
}

.calendar-day.running-workout::after {
  filter: blur(2px);
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}


.calendar-day.completed {
  background-color: rgb(11 176 11 / 0.1);
}